body {
        background-color: #031926;
        color: white;
        text-align: center;
      }

      hr {
        height: 2px;
        border: none;
        background-color: #ccc;
      }

      h1 {
        font-family: Georgia, sans-serif;
        font-size: 32px;
        text-shadow: 2px 2px 4px black;
      }

      h2 {
        font-family: Georgia, sans-serif;
        font-size: 24px;
        text-shadow: 2px 2px 2px black;
      }

      h3 {
        text-shadow: 1px 1px 2px black;
      }

      p {
        font-family: Arial, serif;
        width: 80%;
        margin: auto;
        text-align: justify;
        text-shadow: 2px 2px 4px black;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 30px;
        border: 2px solid white;
        border-radius: 18px;
        margin-bottom: 10px;
        font-size: 20px;
      }

      ul {
        width: 80%;
        margin: auto;
        text-align: justify;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 30px;
        border: 2px solid white;
        border-radius: 18px;
        list-style-type: circle;
      }

      li {
        font-family: Arial, serif;
        margin-bottom: 10px;
        text-shadow: 2px 2px 4px black;
        font-size: 20px;
      }

      sub {
        font-size: 12px;
      }