/* projects Page Styles */

.page-header {
  background:var(--color-black) 100%;
  padding: var(--spacing-xl) 0;
  text-align: center;
  border-bottom: 3px solid var(--color-electric-cyan);
}

.page-title {
  font-family: var(--font-heading);
  font-size: 48px;
  color: var(--color-white);
  margin-bottom: var(--spacing-sm);
  letter-spacing: 2px;
}

.page-subtitle {
  font-size: 19px;
  color: var(--color-mint-green);
  letter-spacing: 1px;
}

/* projects Section */
.projects-section {
  padding: var(--spacing-xl) 0;
  background: var(--color-black);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-lg);
}

.project-card {
  background: var(--color-dark-gray);
  border: 2px solid var(--color-electric-cyan);
  border-radius: 8px;
}

.project-card {
    text-decoration: none;
    color: var(--color-white);
}

.project-card h3{
    text-decoration: none;
    color: var(--color-neon-green);
}

.project-card p {
  text-decoration: none;
  color: var(--color-white);
}

.project-card img {
    pointer-events: none;
}

.project-image {
  width: 100%;
  height: 300px;
  background: var(--color-medium-gray);
  border-bottom: 2px solid var(--color-mint-green);
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: var(--spacing-md);
}

.project-content h3 {
  font-family: var(--font-heading);
  font-size: 20px;
  color: var(--color-electric-cyan);
  margin-bottom: var(--spacing-sm);
}

.project-screenshot img{
    width: 75%;
    height: auto;
    margin-bottom: var(--spacing-sm);
    border: 1px solid var(--color-electric-cyan);
    border-radius: 4px;
}

.developers {
  color: var(--color-mint-green);
  font-weight: 600;
  font-size: 17px;
  margin-bottom: var(--spacing-xs);
}

.completion-date {
  color: var(--color-steel);
  font-size: 15px;
  margin-bottom: var(--spacing-sm);
  font-style: italic;
}

.project-description {
  color: var(--color-off-white);
  line-height: 1.6;
  font-size: 16px;
}